/* 1 вариант заданя цвета через название */
.color1 {
  color: red;
}

/* 2 вариант заданя цвета через код в 16-ричной системе RedGreenBlue(RGB)*/
/* градация от 00-ff */
.color2 {
  /* color: #4B0082; */
  color: #000000; /*если все 0 то цвет черный, если все f то цвет белый*/
}

/* 3 вариант заданя цвета, тоже самое что и 2 вариант, но можно сократить используя только 3 символа */
.color3 {
  color: #ccc;
}

/* 4 вариант заданя цвета через функцию rgb() от 0-255*/
.color4 {
  color: rgb(21, 4, 199);
  /* opacity: 0.5;  указывает прозрачность от 0-1, дробными числами*/
}

/* 5 вариант заданя цвета через функцию rgba() от 0-255 + четверты параметр прозрачность от 0-1, дробными числами */
.color5 {
  color: rgba(200, 100, 100, 1)
}