a {
  color: #2c2727;
  text-decoration: none; /*Для ссылок, убираем нижнее подчеркивание*/
  transition: all 0.2s; /*Плавность анимации для ссылок*/
}

a:hover {
  color: #fff;
  font-size: 1.1rem;/*Берется от корневого элемента, в данном случае от Бади*на 1.5(16*1.5)*/
}/*Псевдо селектор, применяется не только для ссылок но и для любых элементов страницы*/

/* a:visited {
  color: red;
}Меняет цвет ссылки если по ссылке перешли*/

a:active {
  color: blue;
} /*Отвечает за смену цвета активного элемента, например при долгом клике*/

.btn {
  background: #a3a3a3;
  padding: 10px 15px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  font-family: inherit; /*Наследует шрифт от элемента Бади */
}

.btn:hover {
  opacity: .8;
}